.pineapple {
  margin-top: 25px;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
html {
  font-size: 100%;
  height: auto !important;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.clear {
  display: block;
}
.clear::after {
  clear: both;
  content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}
body {
  background: #f2f2f2;
  color: #222;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  font-weight: 400;
  height: auto !important;
  height: 100%;
  line-height: 1.6rem;
  min-height: 100%;
}
.menu {
  background: linear-gradient(to left, rgba(54, 194, 182, 0.96) 0, rgba(62, 188, 207, 0.96) 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.menu > nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu > nav > ul > li {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all linear 0.1s;
}
.menu > nav > ul > li:hover {
  background: #3aa2ad;
}
.menu > nav > ul > li a + div {
  background: linear-gradient(to bottom, #3aa2ad 0, rgba(62, 188, 207, 0.96) 100%);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05);
  display: none;
  font-size: 1rem;
  position: absolute;
  width: 195px;
}
.menu > nav > ul > li:hover a + div {
  display: block;
}
.menu > nav > ul > li a + div > ul {
  list-style-type: none;
}
.menu > nav > ul > li a + div > ul > li {
  margin: 0;
  padding: 0;
}
.menu > nav > ul > li a + div > ul > li > a {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  padding: 0.25rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
.menu > nav > ul > li a + div > ul > li:hover > a {
  background-color: rgba(0, 0, 0, 0.15);
}
.menu > nav > ul > li > a {
  align-items: flex-start;
  color: #fff;
  display: flex;
  font-size: 1.55rem;
  font-weight: 200;
  letter-spacing: 1px;
  max-width: 130px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all linear 0.1s;
}
.menu > nav > ul > li > a > div > span {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.7rem;
  font-style: italic;
  line-height: 1rem;
  max-width: 260px;
}
@media (min-width: 990px) {
  header > nav > ul > li > a {
    max-width: 500px;
    font-size: 1.7rem;
    line-height: 2rem;
  }
  header > nav > ul > li > a > div > span {
    margin: 4px 0 0;
  }
}
main {
  background-color: rgba(0, 0, 0, 0.5);
}
main section {
  background-color: rgba(242, 231, 210, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main section h3 {
  font-size: 3em;
}
main section .section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section .section-content img {
  width: 50%;
}
main section .btn-box img {
  width: 75%;
}
body {
  background: url('../img/about-bg.jpg') center no-repeat;
  background-size: cover;
}
body .about-container {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1em 0em;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  body .about-container {
    width: 75%;
    margin: 0 auto;
  }
}
body .about-container .title {
  color: #f2e7d2;
  font-family: 'Acme', serif;
  letter-spacing: 2px;
  width: 50%;
  margin: 0 auto;
  text-shadow: 3px 3px 4px #111;
  font-size: 4em;
  font-weight: bold;
  border-radius: 15px;
  padding: 1%;
}
body .about-container .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
body .about-container .team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
}
body .about-container .team .team-member-name {
  text-decoration: underline;
}
body .about-container .team .team-member {
  justify-content: center;
  background-color: white;
  width: 25%;
  border: 1px solid black;
  border-radius: 5%;
  padding: 2%;
  margin: 1em 0em;
}
body .about-container .team .team-member img {
  width: 65%;
  border-radius: 40%;
}
body .about-container .team .developers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .about-container .go-home {
  font-size: 1.4em;
  padding: 1.5%;
  text-shadow: 2px 2px 2px #111;
  color: #f2e7d2;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  font-family: 'Acme', serif;
}
body {
  text-align: center;
  width: 1000px;
  margin: auto;
  box-sizing: border-box;
}
body .logo {
  margin-left: 160px;
}
body .hero {
  background: url('../img/hero-bg.jpg') center no-repeat;
  background-size: cover;
  border: 1px solid black;
  padding: 8%;
  width: 100%;
}
body .hero .hero-text {
  width: 60%;
  margin-left: 35%;
  background-color: rgba(37, 37, 37, 0);
  font-family: 'Montserrat', sans-serif;
}
body .hero .hero-text .title {
  font-size: 2em;
  color: #f2e7d2;
  text-shadow: 3px 3px 3px #333;
}
body .hero .hero-text h1 {
  font-size: 2em;
  color: #f2e7d2;
  margin-top: -1em;
  background-color: rgba(37, 37, 37, 0.03);
}
@media (max-width: 500px) {
  body .hero .hero-text h1 {
    background-color: rgba(37, 37, 37, 0.3);
  }
}
body .budget {
  display: flex;
  margin-top: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
body .budget .decor {
  width: 550px;
}
body .budget .costs {
  margin-right: -150px;
  margin-left: 50px;
  font-size: 30px;
  border: 3px dashed #2BA3A4;
  border-radius: 0px 40px 0px 40px;
}
body .organize {
  display: flex;
  margin-top: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
body .organize .supplies {
  width: 550px;
  margin-right: -150px;
}
body .organize .tasks {
  margin-right: 120px;
  font-size: 30px;
  border: 3px dashed #2BA3A4;
  border-radius: 40px 0px 40px 0px;
}
body .theme {
  display: flex;
  margin-top: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
body .theme .circus {
  width: 550px;
}
body .theme .ideas {
  margin-right: -150px;
  margin-left: 50px;
  font-size: 30px;
  border: 3px dashed #2BA3A4;
  border-radius: 0px 40px 0px 40px;
}
footer {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 2em;
  padding: 1%;
}
footer .footer-text {
  color: white;
  font-size: 2em;
  font-family: 'Acme', serif;
}
body  .testimonial {
  text-align: center;
}
body .testimonial .testimonial-content {
  padding: 30px 50px;
  background: #2ec4b6;
  border-radius: 100px 0;
  position: relative;
  margin: 0 10px 35px;
}
body .testimonial .testimonial-content:after {
  content: "";
  position: absolute;
  border-top: 10px solid #2ec4b6;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -9px;
  left: 47%;
}
body .testimonial .description {
  font-size: 14px;
  color: #fdfffc;
  line-height: 25px;
  margin: 0;
}
body .testimonial .pic {
  width: 80px;
  height: 80px;
  margin: 0 auto 15px;
  border-radius: 50%;
  overflow: hidden;
}
body .testimonial .pic img {
  width: 100%;
  height: auto;
}
body .testimonial .testimonial-title {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #011627;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}
body .testimonial .post {
  display: block;
  font-size: 14px;
  color: #ff9f1c;
}
body .owl-theme .owl-controls {
  border-top: 1px solid #d5d5d5;
  margin-top: 40px;
  padding-top: 30px;
}
body .owl-theme .owl-controls .owl-buttons div {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #ff9f1c;
  border-radius: 4px;
  opacity: 1;
  padding: 0;
}
body .owl-prev:before,
body .owl-next:before {
  ontent: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fdfffc;
}
body .owl-next:before {
  content: "\f054";
}
body .owl-prev:hover:before,
body .owl-next:hover:before {
  color: #011627;
}
