body {
    // font-size: 42.5%;
    text-align: center;
    width: 1000px;
    box-sizing: border-box;
    margin: auto;

    .logo {
        margin-left: 160px;
    }

    box-sizing: border-box;
    .hero {
        background: url('../img/hero-bg.jpg') center
        no-repeat;
        background-size: cover;
        border: 1px solid black;
        padding: 8%;
        width: 100%;

        .hero-text {
            
            width: 60%;
            margin-left: 35%;
            background-color: rgba(37, 37, 37, .00);
            font-family: 'Montserrat', sans-serif;
            
            .title {
                font-size: 2em;
                color:rgb(242, 231, 210);
                text-shadow: 3px 3px 3px #333;
                
                
                
                
            }
    
            h1 {
                font-size: 2em;
   

                color:rgb(242, 231, 210);
                margin-top: -1em;
                background-color: rgba(37, 37, 37, .03);
                ;

                @media @mobile {
                    background-color: rgba(37, 37, 37, .3);
                }
            }
        }
        }
        
        
        .budget {
            display: flex;
            margin-top: 100px;
            width: 100%;
            align-items: center;
            justify-content: center;


            .decor {
                width: 550px;
            }
            
            .costs {
                margin-right: -150px;
                margin-left: 50px;
                font-size: 30px;
                border: 3px dashed #2BA3A4;
                border-radius: 0px 40px 0px 40px;
            }

        
        }
        
        .organize {
            display: flex;
            margin-top: 100px;
            width: 100%;
            align-items: center;
            justify-content: center;
        

            .supplies {
                width: 550px;
                margin-right: -150px;
            }

            .tasks {
                margin-right: 120px;
                font-size: 30px;
                border: 3px dashed #2BA3A4;
                border-radius: 40px 0px 40px 0px;
            }
        }

        .theme {
            display: flex;
            margin-top: 100px;
            width: 100%;
            align-items: center;
            justify-content: center;
        


            .circus {
                width: 550px;
            }

            .ideas {
                margin-right: -150px;
                margin-left: 50px;
                font-size: 30px;
                border: 3px dashed #2BA3A4;
                border-radius: 0px 40px 0px 40px;
                }
        
        
        
        
            }
}
