body {
    text-align: center;
    header {
        border: 1px solid black;
        margin-top: 5%;
        padding: 3%;

        .title {
            font-size: 4em;
        }

        h3 {
            font-size: 2em;
        }
    }
    
}